/*
=============== 
Variables
===============
*/

:root {
    --primary-background-color: #65ccb8;
    --primary-element-background-color: #f2f2f2;
    --primary-element-color: #3b945e;
    --secondary-background-color: #e9e9e9;
    --text-button-color: #182628;
    --secondary-action-color: #416066;
    --shadow-color: #11181a;
    --transition: all 0.3s linear;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Global styles
===============
*/

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    margin: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--text-button-color);
    margin: 0;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}

.btn {
    color: var(--primary-element-background-color);
    background-color: var(--text-button-color);
    border-color: var(--text-button-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.btn:hover {
    background: var(--secondary-action-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page-body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.players-container {
    width: 90vw;
    height: auto;
}

.player-container {
    background-color: var(--primary-element-background-color);
    border-radius: var(--radius);
    padding: 0.5rem;
    margin-top: 2rem;
}

.player-container:hover {
    box-shadow: var(--dark-shadow);
}

.score-input-text {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
}

.no-show {
    display: none;
}

.flex-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-display > * {
    padding: 0;
    margin: 0;
}

.player-buttons-container {
    width: 5rem;
}

.edit-score-form {
    margin-top: 1rem;
}
.edit-element-container {
    width: 40vw;
    flex-direction: column;
}

.edit-element {
    display: inline-block;
}

@media screen and (min-width: 576px) {
    .edit-element-container {
        width: 40vw;
        flex-direction: row;
    }
}
